.sliderWrapper {
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  overflow: hidden !important;
  padding: 40px 0;
  position: relative !important;
}

.sliderMask {
  overflow: visible !important;
  position: relative !important;
  padding: 0 96px !important;
  box-sizing: content-box !important;
}

:global(.swiper) {
  padding-bottom: 60px !important;
  overflow: visible !important;
}

:global(.swiper-pagination) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  gap: 12px;
}

:global(.swiper-pagination-bullet) {
  background-color: #d9d9d9 !important;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  transition: background-color 300ms ease-in-out;
}

:global(.swiper-pagination-bullet:hover) {
  background-color: #707070 !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: #4b4b4b !important;
}

.sliderWrapper :global(.swiper) {
  width: 100%;
  position: relative !important;
}

.sliderWrapper :global(.swiper-wrapper) {
  align-items: stretch;
}

.sliderWrapper :global(.swiper-slide) {
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background: #000;
}

:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  font-size: 28px !important;
  font-weight: bold;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  position: absolute !important;
  z-index: 9999 !important;
  color: #707070 !important;
  width: 68px !important;
  height: 68px !important;
  background-color: #fff !important;
  border: 1px solid #d1cfcf !important;
  border-radius: 50% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

:global(.swiper-button-next:hover),
:global(.swiper-button-prev:hover) {
  background-color: #d1cfcf !important;
  color: #fff !important;
}

:global(.swiper-button-next) {
  right: -96px !important;
}

:global(.swiper-button-prev) {
  left: -96px !important;
}
