.itemBox {
  width: 380px;
  height: 502px;
  background-color: #fff;
  border: 1px solid #b6b1b1;
  border-radius: 12px;
  padding: 20px 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.personBox {
  display: flex;
  gap: 16px;
}

.content {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: #9b9a99;
  margin-bottom: 42px;
}

.content::after {
  content: "''";
  font-size: 64px; /*36px*/
  position: absolute;
  top: 320px;
  right: 26px;
}

.person {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.46;
}

.role {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.photo {
  width: 60px;
  height: 60px;
}

.logo {
  margin-bottom: 40px;
  /* max-width: 272px;
  min-height: 90px; */
  /* object-fit: contain; */
}

.card {
  width: 100%;
  height: auto;
}
